

.banner {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 130px;
    padding-bottom: 130px;
}


.banner-content{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  
    
}
.heading-one {
    font-size: 95px;
}
.heading-two {
    font-size: 36px;
    margin-top: 45px;
}

@media(min-width:320px) and (max-width:500px){
    .heading-one {
        font-size: 40px;
    }
    .heading-two {
        font-size: 23px;
        margin-top: 30px;
    }

}
@media screen and (max-width:768px){
    .banner {
        width: 100%;
        background-color: black;
        color: white;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .banner-content{
        width: 90%;
        margin: 0 auto;
        text-align: center;
      
        
    }
    .heading-one {
        font-size: 40px;
    }
    }