
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.row{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  width: 100%;
}

.mentor{
padding:70px

}
.mentor-top{
  /* padding-top: 20px; */
  padding:20px 0px;
}
.scheme-title{
  flex: 1 1 40%;
  padding: 10px;
  border-right: 3px solid black;
}
.scheme-title h2{
  text-align: center;
  margin-top:33px;

}

.scheme-text{
  flex: 1 1 60%;
  padding: 10px;
  border-left: 3px solid black;
}
.mentor-journey{
  padding:50px 0px;
}

.journey-top{
  text-align: center;
  padding-bottom: 30px;
}

.journey-top h1{
  margin-bottom: 40px;
}

.description{
  flex: 1 1 25%;
  padding: 20px 10px;
}

.become-mentor{
  width: 100%;

  padding:50px 0px;
}

.become-mentor-content{
  flex: 1 1 100%;
  text-align:center;
}
.become-mentor-content h1{
  margin-bottom: 30px;
}

.become-mentor-content p{
  margin-bottom: 20px;
}

.become-mentor-content button{
  width:150px;
  height:50px;
  background-color:black;
  color: white;
  border-radius: 5px;
}

@media screen and (max-width:768px){
  .mentor-top{
    text-align:center;
  }
  .scheme-title{
   
    flex: 1 1 40%;
    border-right: none;
    
  }
.scheme-title h2{
  text-align: left;
  
}
.mentor-journey{
  padding:30px 0px;
}

.become-mentor-content button{
  width:150px;
  height:50px;
  background-color:black;
  color: white;
  border-radius: 5px;
  display:block;
  text-align:center;
  margin: 0 auto;
}
}