
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-box {
  width: 80%;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  width: 100%;
}
.tuition-provider{
  padding:50px 0px;
}

.content-heading{
  padding-top: 30PX;
  padding-bottom :40px;
}

.tuition-content {
  flex-basis: 100%;
  display: flex;
  margin-top: 10px;
}

.tuition-one {
  flex: 1 1 50%;
  padding: 15px;
  margin: auto auto;
  text-align: left;
}
.tuition-two {
  flex: 1 1 50%;
  padding: 15px;
  border-left: 5px solid #000;
}
.joining-mastering-study{
  padding: 75px 0px;
}

.joining-top {
  flex-basis: 62%;
  padding-bottom: 30px;
}

.mentor-title {
  
  flex-basis: 30%;
  padding: 20px 0px;
  margin: auto auto;
  text-align: left;
  
}

.mentor-text {
  /* flex: 1 1 50%; */
  flex-basis: 70%;
  text-align:left;
  padding: 20px 0px;
}
.mentor-text ul li{
  margin: 5px 0px;
}

.student-title {
  flex-basis: 30%;
  padding: 20px 0px;
  margin: auto auto;
  text-align: left;
}

.student-text {
  flex-basis: 70%;
  text-align:left;
  padding: 20px 0px;
}

.student-text ul li {
  margin: 15px 0px;
}
.training-title {
  flex-basis: 62%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.training-text{
  flex-basis:100%;
}
.training-text ul li{
  text-align:left;
  margin: 15px 0px;
}

.tuition-provider-title {
  width: 40%;
  text-align: center;
  border-right: 7px solid black;
  padding: 17px;
}
.steps{
  text-align: justify;
  padding: 32px 0px;
}
.steps p {
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .tuition-content {
    flex-direction: column;
  }
  .tuition-one {
    text-align: left;
  }
  .tuition-two {
    text-align: left;
  }
  .tuition-provider-title {
    width: 100%;
    
}
}
